body{
    margin: 0px;
    padding: 0px;
}
.browsesearch{
    display: block;
    width: 100%;
    height: 80%;
    text-align: center;
    padding-top: 100px;
}
.bsearch{
    display: inline-block;
    height: 50px;
    width: 100%;
    margin:0px;
}
.searchform input[type="text"], .searchform select{
    width: 50%;
    height: 100%;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.searchform input[type="text"]:focus{
    border-bottom: 1px solid black;
}
.searchform input[type=submit] {
    background-color: #0693cd;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size:16px;
    font-weight: bold;
    padding: 10px;
    width: 180px
  }

  .output{
      margin-left: 100px;
      margin-right: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 20px;
      text-align: center;
  }

  .browse{
      margin: 20px;
      display: grid;
      grid-template-rows: 5fr 1fr 1fr;
      grid-template-columns: 1fr;
      margin-top: 20px;
      padding: 10px;
      background-color: #f2f2f2;
      border: 1px solid black;
      min-width: 200px; 
    
  }
  .browse img{
      max-width: 70%;
      max-height: 70%;
  }


  .submitinv{
      padding: 20px;
      line-height: 15%;
      background-color: #0693cd;
      border: 0;
      border-radius: 3px;
      cursor: pointer;
      color: #fff;
      font-size:16px;
  }

  .pages{
      display: inline-block;
      width: 100%;
      text-align: center;
      
  }
